<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="HurriyetEmlakStudyCases" thread-count="2" parallel="tests">

    <test name="Chrome - 1920x1080">
        <parameter name="testName" value="Chrome - 1920x1080"/>
        <parameter name="browserName" value="chrome"/>
        <parameter name="platform" value="LINUX"/>
        <parameter name="resolution" value="1920x1080"/>
        <parameter name="version" value="76"/>
        <classes>
            <class name="com.koulgar.testCases.StudyCases"/>
        </classes>
    </test>

    <test name="Chrome - 1366x768">
        <parameter name="testName" value="Chrome - 1366x768"/>
        <parameter name="browserName" value="chrome"/>
        <parameter name="platform" value="LINUX"/>
        <parameter name="resolution" value="1366x768"/>
        <parameter name="version" value="12"/>
        <classes>
            <class name="com.koulgar.testCases.StudyCases"/>
        </classes>
    </test>

    <test name="Safari - 1920x1080">
        <parameter name="testName" value="Safari - 1920x1080"/>
        <parameter name="browserName" value="safari"/>
        <parameter name="platform" value="MAC"/>
        <parameter name="resolution" value="1920x1080"/>
        <parameter name="version" value="12"/>
        <classes>
            <class name="com.koulgar.testCases.StudyCases"/>
        </classes>
    </test>


</suite>