<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="HurriyetEmlakStudyCases" thread-count="2" parallel="tests">

    <test name="Chrome Test - 1920x1080">
        <parameter name="resolution" value="1920x1080"/>
        <classes>
            <class name="com.koulgar.testCases.StudyCases"/>
        </classes>
    </test>

    <test name="Chrome Test - 1366x768">
        <parameter name="resolution" value="1366x768"/>
        <classes>
            <class name="com.koulgar.testCases.StudyCases"/>
        </classes>
    </test>


</suite>